NODE_ENV=development
PORT=3000
API_PREFIX=api

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/prueba-tecnica-bx?retryWrites=true&w=majority

SUPERHERO_API_TOKEN=your_token_here

CORS_ORIGINS=http://localhost:3000,http://localhost:3001
